body {
    background-color: rgb(75, 75, 75);
    color: white;
    font-family: Helvetica neue;
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    height: 100%;
}

#videoContainer {
    display: none;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

h2 {
    font-size: 2.5em;
    font-family: 'Special Elite';
}

<<<<<<< HEAD
header {
    height: 13vw;
    width: 100vw;
    /*    position: fixed;*/
    z-index: 98;
    margin: 0;
    color: white;
}

a#gallery,
a#oplevelser,
a#produktudvikling,
a#om,
a#kontakt {
    text-decoration: none;
    color: white;
}

.burger {
    padding: 0;
    /*    display: inline-block;*/
    cursor: pointer;
    background: none;
    border: none;
    position: fixed;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    /*    z-index: 99999;*/
    display: flex;
}

a {
    text-decoration: none;
    color: white;
=======

/********* FOOTER **********/

footer {
    background-color: rgba(0, 0, 0, 0.5);
    height: 17vw;
    padding: 2vw;
    display: grid;
    grid-template-areas: "adresse instanews findvej";
    grid-template-columns: 1fr 1fr 1fr;
}

#footerInfo {
    grid-area: adresse;
    margin-left: 2vw;
}

#footerMap {
    grid-area: findvej;
    display: flex;
}

p.adresseText {
    font-size: 0.55em;
    margin: 0;
}

p.telefonText {
    font-size: 0.55em;
    margin: 0;
}

img.instagramLink {
    width: 15vw;
    height: auto;
    grid-area: instanews;
    margin: 1vw 8vw;
}

img.mapsLink {
    width: 10vw;
    height: auto;
}

p.mapsText {
    font-size: 0.9em;
}

button.tilmeld {
    display: none;
    width: 15vw;
    height: 5vw;
}

.nyhedsbrev {
    display: none;
}


/* !!!!!!!FIXME!: this needs to be more specific. remove if not used for anything */

/*


img {
    /*    max-width: 80vw;*/

>>>>>>> origin/master
}


/****NOTE****:  */

/********* FOOTER **********/

footer {
    background-color: rgba(0, 0, 0, 0.5);
    height: 17vw;
    padding: 2vw;
    display: grid;
    grid-template-areas: "adresse instanews findvej";
    grid-template-columns: 1fr 1fr 1fr;
}

#footerInfo {
    grid-area: adresse;
    margin-left: 3vw;
}

#footerMap {
    grid-area: findvej;
    display: flex;
}

p.adresseText {
    font-size: 0.55em;
    margin: 0;
}

p.telefonText {
    font-size: 0.55em;
    margin: 0;
}

img.instagramLink {
    width: 12vw;
    height: auto;
    grid-area: instanews;
    margin: 2.5vw 8vw;
}

img.mapsLink {
    width: 8vw;
    height: auto;
    margin: 2.9vw 1vw;
}

p.mapsText {
    font-size: 0.9em;
    text-transform: uppercase;
    margin: 5.5vw 1vw;
}

button.tilmeld {
    display: none;
    width: 15vw;
    height: 5vw;
}

.nyhedsbrev {
    display: none;
}


/******* FOOTER SLUT ********/


/* IPAD POTRAIT */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {}


/* IPAD LANDSCAPE */

@media only screen and (min-width: 768px) and (max-width: 1024px)and (orientation: landscape) {}


/* DESKTOP */

@media (min-width: 1025px) {

    /************BAGGRUND VIDEO OVERLAY*****************/
    #bgVideoOverlay {
        background: -moz-linear-gradient(left, rgba(207, 49, 0, 1) 0%, rgba(125, 185, 232, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(207, 49, 0, 1) 0%, rgba(125, 185, 232, 0) 100%);
        background: linear-gradient(to right, rgba(207, 49, 0, 1) 0%, rgba(125, 185, 232, 0) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cf3100', endColorstr='#007db9e8', GradientType=1);
        width: 100vw;
        height: 100vh;
        background-size: contain;
        position: absolute;
        z-index: 1;
    }
    .overlay {
        animation-name: overlayKF;
        animation-duration: 2000ms;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: linear;
    }
    @keyframes overlayKF {
        from {
            /* left: -80vw;*/
            opacity: 0;
        }
        to {
            /* left: 0;*/
            opacity: 1;
        }
    }
    #videoContainer {
        overflow: hidden;
        height: 100vh;
        position: absolute;
        z-index: 1;
        width: 100vw;
        display: block;
    }
}


/*> > > > > > > origin/master*/
